In [1]:
import pandas as pd

In [2]:
ev_file_path = "./Evictions.csv"

# Skip metadata lines and read the actual data
eviction = pd.read_csv(ev_file_path, skiprows=6, names=["Zipcode","Year", "Data Format", "Evictions", "FIPS"])

In [3]:
eviction

            Zipcode  Year Data Format  Evictions     FIPS
0             10001  2017      Number       46.0    10001
1             10002  2017      Number       77.0    10002
2             10003  2017      Number       42.0    10003
3             10004  2017      Number        3.0    10004
4             10005  2017      Number       14.0    10005
...             ...   ...         ...        ...      ...
1511       Brooklyn  2021      Number       52.0    36047
1512      Manhattan  2021      Number       20.0    36061
1513         Queens  2021      Number       19.0    36081
1514  Staten Island  2021      Number       25.0    36085
1515  New York City  2021      Number      129.0  3651000

[1516 rows x 5 columns]

In [4]:
eviction["Zipcode"].unique()

array(['10001', '10002', '10003', '10004', '10005', '10006', '10007',
       '10009', '10010', '10011', '10012', '10013', '10014', '10016',
       '10017', '10018', '10019', '10021', '10022', '10023', '10024',
       '10025', '10026', '10027', '10028', '10029', '10030', '10031',
       '10032', '10033', '10034', '10035', '10036', '10037', '10038',
       '10039', '10040', '10044', '10065', '10069', '10075', '10128',
       '10280', '10282', '10301', '10302', '10303', '10304', '10305',
       '10306', '10307', '10308', '10309', '10310', '10312', '10314',
       '10451', '10452', '10453', '10454', '10455', '10456', '10457',
       '10458', '10459', '10460', '10461', '10462', '10463', '10464',
       '10465', '10466', '10467', '10468', '10469', '10470', '10471',
       '10472', '10473', '10474', '10475', '11001', '11004', '11005',
       '11040', '11096', '11101', '11102', '11103', '11104', '11105',
       '11106', '11109', '11201', '11203', '11204', '11205', '11206',
       '11207', '11208', '11209', '11210', '11211', '11212', '11213',
       '11214', '11215', '11216', '11217', '11218', '11219', '11220',
       '11221', '11222', '11223', '11224', '11225', '11226', '11228',
       '11229', '11230', '11231', '11232', '11233', '11234', '11235',
       '11236', '11237', '11238', '11239', '11249', '11354', '11355',
       '11356', '11357', '11358', '11359', '11360', '11361', '11362',
       '11363', '11364', '11365', '11366', '11367', '11368', '11369',
       '11370', '11371', '11372', '11373', '11374', '11375', '11377',
       '11378', '11379', '11385', '11411', '11412', '11413', '11414',
       '11415', '11416', '11417', '11418', '11419', '11420', '11421',
       '11422', '11423', '11426', '11427', '11428', '11429', '11430',
       '11432', '11433', '11434', '11435', '11436', '11691', '11692',
       '11693', '11694', '11697', 'Bronx', 'Brooklyn', 'Manhattan',
       'Queens', 'Staten Island', 'New York City'], dtype=object)

In [6]:
pwd

'/Users/yukiogawa/hacks/cmmc/Data/Evction'

In [7]:
import pandas as pd

xls = pd.ExcelFile('./zipcode.xlsx')
modzcta_dict = xls.parse(sheet_name=0)  # adjust sheet_name if needed
modzcta_dict.to_csv('modzcta.csv', index=False)

modzcta_dict.head(), modzcta_dict.columns

(    ZCTA  MODZCTA  UHFCODE                         UHFNAME    BOROUGH
 0  10001    10001      306               Chelsea - Clinton  Manhattan
 1  10002    10002      309  Union Square - Lower East Side  Manhattan
 2  10003    10003      309  Union Square - Lower East Side  Manhattan
 3  10004    10004      310                 Lower Manhattan  Manhattan
 4  10005    10005      310                 Lower Manhattan  Manhattan,
 Index(['ZCTA', 'MODZCTA', 'UHFCODE', 'UHFNAME', 'BOROUGH'], dtype='object'))

In [8]:
eviction['ZIPCODE'] = eviction['Zipcode'].astype(str)
modzcta_dict['ZCTA'] = modzcta_dict['ZCTA'].astype(str)

# Merge on ZIPCODE ↔ ZCTA
evictions_with_neighborhood = eviction.merge(modzcta_dict, left_on='ZIPCODE', right_on='ZCTA', how='left')
evictions_with_neighborhood

,Zipcode,Year,Data Format,Evictions,FIPS,ZIPCODE,ZCTA,MODZCTA,UHFCODE,UHFNAME,BOROUGH
0,10001,2017,Number,46.0,10001,10001,10001,10001.0,306.0,Chelsea - Clinton,Manhattan
1,10002,2017,Number,77.0,10002,10002,10002,10002.0,309.0,Union Square - Lower East Side,Manhattan
2,10003,2017,Number,42.0,10003,10003,10003,10003.0,309.0,Union Square - Lower East Side,Manhattan
3,10004,2017,Number,3.0,10004,10004,10004,10004.0,310.0,Lower Manhattan,Manhattan
4,10005,2017,Number,14.0,10005,10005,10005,10005.0,310.0,Lower Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...
1511,Brooklyn,2021,Number,52.0,36047,Brooklyn,NaN,NaN,NaN,NaN,NaN
1512,Manhattan,2021,Number,20.0,36061,Manhattan,NaN,NaN,NaN,NaN,NaN
1513,Queens,2021,Number,19.0,36081,Queens,NaN,NaN,NaN,NaN,NaN
1514,Staten Island,2021,Number,25.0,36085,Staten Island,NaN,NaN,NaN,NaN,NaN
1515,New York City,2021,Number,129.0,3651000,New York City,NaN,NaN,NaN,NaN,NaN

In [9]:
evictions_with_neighborhood = evictions_with_neighborhood.drop(columns=["FIPS"])

In [10]:
evictions_with_neighborhood = evictions_with_neighborhood.drop(columns=["ZCTA"])
evictions_with_neighborhood = evictions_with_neighborhood.drop(columns=["MODZCTA"])
evictions_with_neighborhood = evictions_with_neighborhood.drop(columns=["UHFCODE"])

In [11]:
evictions_with_neighborhood

,Zipcode,Year,Data Format,Evictions,ZIPCODE,UHFNAME,BOROUGH
0,10001,2017,Number,46.0,10001,Chelsea - Clinton,Manhattan
1,10002,2017,Number,77.0,10002,Union Square - Lower East Side,Manhattan
2,10003,2017,Number,42.0,10003,Union Square - Lower East Side,Manhattan
3,10004,2017,Number,3.0,10004,Lower Manhattan,Manhattan
4,10005,2017,Number,14.0,10005,Lower Manhattan,Manhattan
...,...,...,...,...,...,...,...
1511,Brooklyn,2021,Number,52.0,Brooklyn,NaN,NaN
1512,Manhattan,2021,Number,20.0,Manhattan,NaN,NaN
1513,Queens,2021,Number,19.0,Queens,NaN,NaN
1514,Staten Island,2021,Number,25.0,Staten Island,NaN,NaN
1515,New York City,2021,Number,129.0,New York City,NaN,NaN

In [12]:
evictions_with_neighborhood_rate = evictions_with_neighborhood.loc[evictions_with_neighborhood["Data Format"].str.contains("Rate", case=False, na=False)]

In [13]:
evictions_with_neighborhood_number = evictions_with_neighborhood.loc[evictions_with_neighborhood["Data Format"].str.contains("Number", case=False, na=False)]

In [35]:
evictions_with_neighborhood_number

evictions_with_neighborhood_number.to_csv("evictions_with_neighborhood_number.csv", index=False)

In [15]:
evictions_with_neighborhood_rate

,Zipcode,Year,Data Format,Evictions,ZIPCODE,UHFNAME,BOROUGH
740,10001,2017,Rate,5.18719,10001,Chelsea - Clinton,Manhattan
741,10002,2017,Rate,2.65967,10002,Union Square - Lower East Side,Manhattan
742,10003,2017,Rate,2.33606,10003,Union Square - Lower East Side,Manhattan
743,10004,2017,Rate,2.69542,10004,Lower Manhattan,Manhattan
744,10005,2017,Rate,4.04507,10005,Lower Manhattan,Manhattan
...,...,...,...,...,...,...,...
1320,Brooklyn,2019,Rate,7.29324,Brooklyn,NaN,NaN
1321,Manhattan,2019,Rate,3.97458,Manhattan,NaN,NaN
1322,Queens,2019,Rate,7.78708,Queens,NaN,NaN
1323,Staten Island,2019,Rate,11.71024,Staten Island,NaN,NaN
1324,New York City,2019,Rate,7.96053,New York City,NaN,NaN

In [31]:
res_file_path = "./Residential_Units.csv"

# Skip metadata lines and read the actual data
residential_units = pd.read_csv(res_file_path, skiprows=6, names=["Neighborhood","Year", "Data Format", "Unit", "FIPS"])
residential_units

                 Neighborhood  Year Data Format     Unit     FIPS
0        Battery Park/Tribeca  2018      Number    43892      101
1           Greenwich Village  2018      Number    57146      102
2             Lower East Side  2018      Number    81404      103
3             Chelsea/Clinton  2018      Number    85163      104
4   Midtown Business District  2018      Number    47373      105
..                        ...   ...         ...      ...      ...
60                   Brooklyn  2018      Number   544734    36047
61                  Manhattan  2018      Number   929126    36061
62                     Queens  2018      Number   852626    36081
63              Staten Island  2018      Number   174588    36085
64              New York City  2018      Number  3531582  3651000

[65 rows x 5 columns]

In [32]:
clean_residential_units = residential_units.drop(columns=["FIPS"])

In [34]:
clean_residential_units

clean_residential_units.to_csv("clean_residential_units.csv", index=False)

In [36]:
residential = pd.read_csv('clean_residential_units.csv')
evictions = pd.read_csv('evictions_with_neighborhood_number.csv')

print(residential.columns)
print(evictions.columns)

Index(['Neighborhood', 'Year', 'Data Format', 'Unit'], dtype='object')
Index(['Zipcode', 'Year', 'Data Format', 'Evictions', 'ZIPCODE', 'UHFNAME',
       'BOROUGH'],
      dtype='object')

In [38]:
residential['Neighborhood'] = residential['Neighborhood'].str.strip().str.lower()
evictions['Neighborhood'] = evictions['UHFNAME'].str.strip().str.lower()

In [39]:
unmatched = set(residential['Neighborhood']) - set(evictions['Neighborhood'])
print("Unmatched Residential Neighborhoods:", unmatched)

Unmatched Residential Neighborhoods: {'bronx', 'woodhaven', 'east flatbush', 'manhattan', 'murray hill/stuyvesant', 'bayside', 'howard beach', 'crown heights south', 'brooklyn', 'staten island', 'concourse/highbridge', 'williamsburg/greenpoint', 'bensonhurst', 'fort greene/brooklyn hts', 'sunnyside/woodside', 'throgs neck', 'fresh meadows/briarwood', 'tottenville', 'riverdale', 'pelham parkway', 'elmhurst/corona', 'queens village', 'bedford stuyvesant', 'greenwich village', 'coney island', 'park slope', 'east tremont', 'chelsea/clinton', 'hunts point', 'the rockaways', 'unionport/soundview', 'sheepshead bay', 'brownsville', 'flushing', 'washington heights', 'midtown business district', 'ridgewood/glendale', 'university heights', 'bushwick', 'bay ridge', 'jackson heights', 'manhattanville', 'flatbush/midwood', 'st. george', 'new york city', 'morrisania', 'lower east side', 'battery park/tribeca', 'mott haven', 'williamsbridge', 'rego park/forest hills', 'astoria', 'bedford park', 'central harlem', 'queens', 'jamaica/st. albans', 'south beach', 'crown heights north', 'canarsie'}

In [49]:
from fuzzywuzzy import process
import pandas as pd

# Example - assuming residential['Neighborhood'] and evictions['Neighborhood'] cleaned
res_names = residential['Neighborhood'].unique()
eviction_names = evictions['Neighborhood'].unique()

# Loop through residential names and get best match from evictions dataset
for res_name in res_names:
    match, score = process.extractOne(res_name, eviction_names)
    print(f"Residential: {res_name} → Match: {match} (Score: {score})")

Residential: tribeca → Match: port  richmond (Score: 51)
Residential: greenwich village → Match: greenwich village - soho (Score: 95)
Residential: lower east side → Match: union square - lower east side (Score: 90)
Residential: chelsea → Match: chelsea - clinton (Score: 90)
Residential: midtown business district → Match: port  richmond (Score: 46)
Residential: murray hill/stuyvesant → Match: bedford stuyvesant - crown heights (Score: 86)
Residential: upper west side → Match: upper west side (Score: 100)
Residential: upper east side → Match: upper east side (Score: 100)
Residential: manhattanville → Match: lower manhattan (Score: 62)
Residential: central harlem → Match: central harlem - morningside heights (Score: 90)
Residential: east harlem → Match: east harlem (Score: 100)
Residential: washington heights → Match: washington heights - inwood (Score: 90)
Residential: mott haven → Match: hunts point - mott haven (Score: 90)
Residential: hunts point → Match: hunts point - mott haven (Score: 90)
Residential: morrisania → Match: high bridge - morrisania (Score: 90)
Residential: concourse/highbridge → Match: bensonhurst - bay ridge (Score: 56)
Residential: university heights → Match: central harlem - morningside heights (Score: 86)
Residential: east tremont → Match: union square - lower east side (Score: 86)
Residential: bedford park → Match: gramercy park -  murray hill (Score: 86)
Residential: riverdale → Match: kingsbridge - riverdale (Score: 90)
Residential: unionport/soundview → Match: union square - lower east side (Score: 49)
Residential: throgs neck → Match: pelham - throgs neck (Score: 90)
Residential: pelham parkway → Match: pelham - throgs neck (Score: 57)
Residential: williamsbridge → Match: williamsburg - bushwick (Score: 73)
Residential: williamsburg → Match: williamsburg - bushwick (Score: 90)
Residential: fort greene → Match: port  richmond (Score: 48)
Residential: bedford stuyvesant → Match: bedford stuyvesant - crown heights (Score: 90)
Residential: bushwick → Match: williamsburg - bushwick (Score: 90)
Residential: east new york → Match: east new york (Score: 100)
Residential: park slope → Match: gramercy park -  murray hill (Score: 86)
Residential: sunset park → Match: sunset park (Score: 100)
Residential: crown heights north → Match: central harlem - morningside heights (Score: 86)
Residential: crown heights south → Match: central harlem - morningside heights (Score: 86)
Residential: bay ridge → Match: bensonhurst - bay ridge (Score: 90)
Residential: bensonhurst → Match: bensonhurst - bay ridge (Score: 90)
Residential: borough park → Match: borough park (Score: 100)
Residential: coney island → Match: coney island - sheepshead bay (Score: 90)
Residential: flatbush → Match: east flatbush - flatbush (Score: 90)
Residential: sheepshead bay → Match: coney island - sheepshead bay (Score: 90)
Residential: brownsville → Match: south beach - tottenville (Score: 60)
Residential: east flatbush → Match: east flatbush - flatbush (Score: 90)
Residential: canarsie → Match: canarsie - flatlands (Score: 90)
Residential: astoria → Match: long island city - astoria (Score: 90)
Residential: sunnyside → Match: central harlem - morningside heights (Score: 60)
Residential: jackson heights → Match: central harlem - morningside heights (Score: 86)
Residential: elmhurst/corona → Match: nan (Score: 72)
Residential: ridgewood → Match: ridgewood - forest hills (Score: 90)
Residential: rego park → Match: gramercy park -  murray hill (Score: 86)
Residential: flushing → Match: flushing - clearview (Score: 90)
Residential: fresh meadows → Match: fresh meadows (Score: 100)
Residential: woodhaven → Match: hunts point - mott haven (Score: 60)
Residential: howard beach → Match: south beach - tottenville (Score: 86)
Residential: bayside → Match: bayside - little neck (Score: 90)
Residential: jamaica/st. albans → Match: jamaica (Score: 90)
Residential: queens village → Match: greenwich village - soho (Score: 86)
Residential: the rockaways → Match: rockaway (Score: 90)
Residential: st. george → Match: stapleton - st. george (Score: 90)
Residential: south beach → Match: south beach - tottenville (Score: 90)
Residential: tottenville → Match: south beach - tottenville (Score: 90)
Residential: bronx → Match: fordham - bronx park (Score: 90)
Residential: brooklyn → Match: willowbrook (Score: 53)
Residential: manhattan → Match: lower manhattan (Score: 90)
Residential: queens → Match: southeast queens (Score: 90)
Residential: staten island → Match: long island city - astoria (Score: 86)
Residential: new york city → Match: long island city - astoria (Score: 86)

In [50]:
fuzzy_map = {}
for res_name in res_names:
    match, score = process.extractOne(res_name, eviction_names)
    if score > 80:  # Threshold can be adjusted
        fuzzy_map[res_name] = match

print(fuzzy_map)

{'greenwich village': 'greenwich village - soho', 'lower east side': 'union square - lower east side', 'chelsea': 'chelsea - clinton', 'murray hill/stuyvesant': 'bedford stuyvesant - crown heights', 'upper west side': 'upper west side', 'upper east side': 'upper east side', 'central harlem': 'central harlem - morningside heights', 'east harlem': 'east harlem', 'washington heights': 'washington heights - inwood', 'mott haven': 'hunts point - mott haven', 'hunts point': 'hunts point - mott haven', 'morrisania': 'high bridge - morrisania', 'university heights': 'central harlem - morningside heights', 'east tremont': 'union square - lower east side', 'bedford park': 'gramercy park -  murray hill', 'riverdale': 'kingsbridge - riverdale', 'throgs neck': 'pelham - throgs neck', 'williamsburg': 'williamsburg - bushwick', 'bedford stuyvesant': 'bedford stuyvesant - crown heights', 'bushwick': 'williamsburg - bushwick', 'east new york': 'east new york', 'park slope': 'gramercy park -  murray hill', 'sunset park': 'sunset park', 'crown heights north': 'central harlem - morningside heights', 'crown heights south': 'central harlem - morningside heights', 'bay ridge': 'bensonhurst - bay ridge', 'bensonhurst': 'bensonhurst - bay ridge', 'borough park': 'borough park', 'coney island': 'coney island - sheepshead bay', 'flatbush': 'east flatbush - flatbush', 'sheepshead bay': 'coney island - sheepshead bay', 'east flatbush': 'east flatbush - flatbush', 'canarsie': 'canarsie - flatlands', 'astoria': 'long island city - astoria', 'jackson heights': 'central harlem - morningside heights', 'ridgewood': 'ridgewood - forest hills', 'rego park': 'gramercy park -  murray hill', 'flushing': 'flushing - clearview', 'fresh meadows': 'fresh meadows', 'howard beach': 'south beach - tottenville', 'bayside': 'bayside - little neck', 'jamaica/st. albans': 'jamaica', 'queens village': 'greenwich village - soho', 'the rockaways': 'rockaway', 'st. george': 'stapleton - st. george', 'south beach': 'south beach - tottenville', 'tottenville': 'south beach - tottenville', 'bronx': 'fordham - bronx park', 'manhattan': 'lower manhattan', 'queens': 'southeast queens', 'staten island': 'long island city - astoria', 'new york city': 'long island city - astoria'}

In [51]:
residential['Neighborhood'] = residential['Neighborhood'].replace(fuzzy_map)

In [52]:
unmatched = set(residential['Neighborhood']) - set(evictions['Neighborhood'])
print("Unmatched Residential Neighborhoods:", unmatched)

Unmatched Residential Neighborhoods: {'woodhaven', 'unionport/soundview', 'brownsville', 'sunnyside', 'tribeca', 'pelham parkway', 'elmhurst/corona', 'fort greene', 'midtown business district', 'brooklyn', 'williamsbridge', 'manhattanville', 'concourse/highbridge'}

In [79]:
final_mapping = {
    'Battery Park/Tribeca': 'Lower Manhattan',
    'Greenwich Village': 'Greenwich Village - Soho',
    'Lower East Side': 'Union Square - Lower East Side',
    'Chelsea/Clinton': 'Chelsea - Clinton',
    'Midtown Business District': 'Downtown  - Heights - Slope',
    'Murray Hill/Stuyvesant': 'Gramercy Park -  Murray Hill',
    'Manhattanville': 'Central Harlem - Morningside Heights',
    'Central Harlem': 'Central Harlem - Morningside Heights',
    'Washington Heights': 'Washington Heights - Inwood',
    'Mott Haven': 'Hunts Point - Mott Haven',
    'Hunts Point': 'Hunts Point - Mott Haven',
    'Morrisania': 'High Bridge - Morrisania',
    'Concourse/Highbridge': 'High Bridge - Morrisania',
    'University Heights': 'Fordham - Bronx Park',
    'East Tremont': 'Crotona - Tremont',
    'Bedford Park': 'Fordham - Bronx Park',
    'Riverdale': 'Kingsbridge - Riverdale',
    'Unionport/Soundview': 'Northeast Bronx',
    'Throgs Neck': 'Pelham - Throgs Neck',
    'Pelham Parkway': 'Pelham - Throgs Neck',
    'Williamsbridge': 'Fordham - Bronx Park',
    'Williamsburg/Greenpoint': 'Williamsburg - Bushwick',
    'Fort Greene/Brooklyn Hts': 'Downtown  - Heights - Slope',
    'Bedford Stuyvesant': 'Bedford Stuyvesant - Crown Heights',
    'Bushwick': 'Williamsburg - Bushwick',
    'East New York': 'East New York',
    'Park Slope': 'Downtown  - Heights - Slope',
    'Sunset Park': 'Sunset Park',
    'Crown Heights North': 'Bedford Stuyvesant - Crown Heights',
    'Crown Heights South': 'Bedford Stuyvesant - Crown Heights',
    'Bay Ridge': 'Bensonhurst - Bay Ridge',
    'Bensonhurst': 'Bensonhurst - Bay Ridge',
    'Borough Park': 'Borough Park',
    'Coney Island': 'Coney Island - Sheepshead Bay',
    'Flatbush/Midwood': 'East Flatbush - Flatbush',
    'Sheepshead Bay': 'Coney Island - Sheepshead Bay',
    'Brownsville': 'East New York',
    'East Flatbush': 'East Flatbush - Flatbush',
    'Canarsie': 'Canarsie - Flatlands',
    'Astoria': 'Long Island City - Astoria',
    'Sunnyside/Woodside': 'West Queens',
    'Jackson Heights': 'West Queens',
    'Elmhurst/Corona': 'West Queens',
    'Ridgewood/Glendale': 'Ridgewood - Forest Hills',
    'Rego Park/Forest Hills': 'Ridgewood - Forest Hills',
    'Flushing': 'Flushing - Clearview',
    'Fresh Meadows/Briarwood': 'Fresh Meadows',
    'Woodhaven': 'Southwest Queens',
    'Howard Beach': 'Southwest Queens',
    'Bayside': 'Bayside - Little Neck',
    'Jamaica/St. Albans': 'Jamaica',
    'Queens Village': 'Southeast Queens',
    'The Rockaways': 'Rockaway',
    'St. George': 'Stapleton - St. George',
    'South Beach': 'South Beach - Tottenville',
    'Tottenville': 'South Beach - Tottenville',
}

In [80]:
residential['Neighborhood'] = residential['Neighborhood'].replace(final_mapping)

In [81]:
unmatched_after = set(residential['Neighborhood']) - set(evictions['Neighborhood'])
print("Still unmatched:", unmatched_after)

Still unmatched: {None, 'fort greene - brooklyn heights', 'soundview - bruckner', 'elmhurst'}

In [76]:

for res in ['fort greene - brooklyn heights', 'soundview - bruckner', 'elmhurst']:
    match, score = process.extractOne(res, evictions['Neighborhood'].unique())
    print(f"{res} → Match: {match} (Score: {score})")

fort greene - brooklyn heights → Match: bedford stuyvesant - crown heights (Score: 62)
soundview - bruckner → Match: south beach - tottenville (Score: 47)
elmhurst → Match: bensonhurst - bay ridge (Score: 56)

In [77]:
evictions_with_neighborhood_number["UHFNAME"].unique()

array(['Chelsea - Clinton', 'Union Square - Lower East Side',
       'Lower Manhattan', 'Gramercy Park -  Murray Hill',
       'Greenwich Village - Soho', 'Upper East Side', 'Upper West Side',
       'Central Harlem - Morningside Heights', 'East Harlem',
       'Washington Heights - Inwood', 'Stapleton - St. George',
       'Port  Richmond', 'South Beach - Tottenville', 'Willowbrook',
       'High Bridge - Morrisania', 'Crotona - Tremont',
       'Hunts Point - Mott Haven', 'Fordham - Bronx Park',
       'Pelham - Throgs Neck', 'Kingsbridge - Riverdale',
       'Northeast Bronx', 'Southeast Queens', nan,
       'Long Island City - Astoria', 'Downtown  - Heights - Slope',
       'East Flatbush - Flatbush', 'Borough Park',
       'Williamsburg - Bushwick', 'East New York',
       'Bensonhurst - Bay Ridge', 'Greenpoint',
       'Bedford Stuyvesant - Crown Heights', 'Sunset Park',
       'Coney Island - Sheepshead Bay', 'Canarsie - Flatlands',
       'Flushing - Clearview', 'Bayside - Little Neck', 'Fresh Meadows',
       'West Queens', 'Ridgewood - Forest Hills', 'Jamaica',
       'Southwest Queens', 'Rockaway'], dtype=object)

In [78]:
clean_residential_units["Neighborhood"].unique()

array(['Battery Park/Tribeca', 'Greenwich Village', 'Lower East Side',
       'Chelsea/Clinton', 'Midtown Business District',
       'Murray Hill/Stuyvesant', 'Upper West Side', 'Upper East Side',
       'Manhattanville', 'Central Harlem', 'East Harlem',
       'Washington Heights', 'Mott Haven', 'Hunts Point', 'Morrisania',
       'Concourse/Highbridge', 'University Heights', 'East Tremont',
       'Bedford Park', 'Riverdale', 'Unionport/Soundview', 'Throgs Neck',
       'Pelham Parkway', 'Williamsbridge', 'Williamsburg/Greenpoint',
       'Fort Greene/Brooklyn Hts', 'Bedford Stuyvesant', 'Bushwick',
       'East New York', 'Park Slope', 'Sunset Park',
       'Crown Heights North', 'Crown Heights South', 'Bay Ridge',
       'Bensonhurst', 'Borough Park', 'Coney Island', 'Flatbush/Midwood',
       'Sheepshead Bay', 'Brownsville', 'East Flatbush', 'Canarsie',
       'Astoria', 'Sunnyside/Woodside', 'Jackson Heights',
       'Elmhurst/Corona', 'Ridgewood/Glendale', 'Rego Park/Forest Hills',
       'Flushing', 'Fresh Meadows/Briarwood', 'Woodhaven', 'Howard Beach',
       'Bayside', 'Jamaica/St. Albans', 'Queens Village', 'The Rockaways',
       'St. George', 'South Beach', 'Tottenville', 'Bronx', 'Brooklyn',
       'Manhattan', 'Queens', 'Staten Island', 'New York City'],
      dtype=object)